.feynman__link {
  position: absolute;
  font-family: 'inter';
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  text-align: right;
  color: #2F80ED;
  text-decoration: none;
  top: 50%;
  right: 48px;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 1s;
}
